.app {
  width: 100%;
  height: 575px;
  padding: 30px 60px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 4px 14px 4px #375c821c;
  font-family: 'Noto Sans JP', sans-serif;
  border-bottom: 5px solid #cad5e6;
}

